<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite>
            <directory>./src/Admin/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_DSN" value="mysql:dbname=admin_test;host=localhost" />
        <var name="DB_USER" value="admin_01" />
        <var name="DB_PASSWD" value="3!t6nLu#" />
        <var name="DB_DBNAME" value="admin_test" />
    </php>

    <logging>
        <!--<log type="coverage-xml" target="build/logs/coverage/xml"/>-->
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Admin/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
